
{% extends "vueMere.html.twig" %}

{% block title %}
	{{ parent() }} - Index
{% endblock %}

{% block body %}
    Hello World!

    {#{{ render(controller("@BayardTestPlatform/Default/menu")) }}#}

    Voici l'url magique : <a href="{{ url }}">URL_MAGIQUE</a>
{% endblock %}

{% block footer %}
	{{ include("@BayardTestPlatform/Default/footer.html.twig") }}
{% endblock %}