<html>
  <body>
  		{% for application in applications %}
			{% if application.advert.image is not null %}
				<div>
					<img src="{{ application.advert.image.url }}" alt="{{ application.advert.image.alt }}">
					<br>Hello {{ application.advert.author }}!
					{% if not application.advert.categories.empty %}
					<br>Catégoris :
						{% for category in application.advert.categories %}
						    <br>- {{ category.name }}{% if not loop.last %}; {% endif %}
						{% endfor %}
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
  </body>
</html>