<html>
  <body>
  		{% for application in applications %}
			{% if application.advert.image is not null %}
				<div>
					<img src="{{ application.advert.image.url }}" alt="{{ application.advert.image.alt }}">
					Hello {{ application.advert.author }}!
				</div>
			{% endif %}
		{% endfor %}
  </body>
</html>