/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
composer.lock
features.zip
web/reports/codeception/
!web/reports/codeception/.gitkeep
# DOCKER
/docker/mysql/data/
!/docker/mysql/data/.gitkeep
/docker/phpsocket/
!/docker/phpsocket/.gitkeep
# OTHERS
*.nogit*
*.idea
*.php~
*.lnk
.env

